body, html {
    margin: auto;
}
#container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-image: url(./assets/ocean_BG.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: white
}
#heading {
    margin: 0
}
#main {
    display: flex;
    justify-content: space-around;
}
.board {
    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
    grid-gap: 1px;
}
.gridsquare, .cpusquare {
    background: transparent;
    border: thin white solid;
}

.miss {
    background: rgba(128,128,128,0.4);
}

.shipsquare {
    background: rgba(128,128,128,0.4);
}
.hit {
    background: rgba(255,0,0,0.3)
}
.ship {
    position: relative;
    left: 0;
    margin: auto;
    transform-origin: 20px;
}
#ship1 {
    width: 80px;
    height: 35px;
}
#ship2 {
    width: 105px;
    height: 35px;
}
#ship3 {
    width: 105px;
    height: 35px;
}
#ship4 {
    width: 140px;
    height: 35px;
}
#ship5 {
    width: 175px;
    height: 35px;
}
.cpushipsquare {
    background: red
}
